.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
  }

.baloonSet {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 変更 */
  justify-content: space-around; /* 追加 */
}

.baloon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-align: center;
  animation: float 5s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.2s);
}

.baloonText {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.baloonValue {
  font-size: 1em;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

