/* 全選択ボタンのスタイル */
.selectButton {
    background-color: #4caf50; /* 緑色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* 右側にマージンを追加 */
  }
  
  .selectButton:hover {
    background-color: #45a049; /* ホバー時の色 */
  }
  
  /* 削除ボタンのスタイル */
  .deleteButton {
    background-color: #f44336; /* 赤色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* 右側にマージンを追加 */
  }
  
  .deleteButton:disabled {
    background-color: #f8d7da; /* 無効時の薄い赤色 */
    cursor: not-allowed;
  }
  
  .deleteButton:hover {
    background-color: #e53935; /* ホバー時の色 */
  }
  
  /* 並べ替えボタンのスタイル */
  .sortButton {
    background-color: #4caf50; /* 青色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* 右側にマージンを追加 */
  }
  
  .sortButton:hover {
    background-color: #45a049; /* ホバー時の色 */
  }
  